version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    env_file: .env
    ports:
      - "$PORT:$PORT"
    depends_on:
      - postgres

  postgres:
    image: postgres:17
    container_name: postgres-db
    ports:
      - 5433:5432
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    volumes:
      - ./tmp/db-data:/var/lib/postgresql/data
